#sddm
{	margin: 0;
	padding: 0;
        font-size: 100%;
	z-index: 30}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	font: bold 14px sans-serif}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 30px;
	width: 60px;
	background: #888;
	color: #FFF;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	background: #aaa}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #eee;
		color: #555;
		font: 14px sans-serif}

	#sddm div a:hover
	{	background: #aaa;
		color: #FFF}

